<h1> List of Services </h1>

<h3>Title: <%= @service.title %></h3>

<h3>Description: <%= @service.description %></h3>

<h3>Time Frame: <%= @service.time_frame %></h3>

<h3>Price: <%= @service.price %></h3>



