<h1 class="listing">Listings</h1>
<div class="listing"> 
    <div class="grid-container">
        <% @listings.each do |l| %>
            <div class="grid-item">
                <%= link_to l.title, listing_path(l) %>
            </div>
        <% end %>
      
    <%= link_to '<button type="button">Create a New Listing</button>'.html_safe, new_listing_path %>
</div>
      
        
</div>
