<div class="home">

    <h2><%= link_to "View All Categories", categories_path %></h2>

    <h2>Listings: </h2>
        <%= link_to "View all Listings", listings_path %>

    <h2>Services: </h2>
        <%= link_to "View all Services", services_path %>
</div>
<%#create the ability to buy a service and to message a seller with the message model, fix the search bar to work, create the css, %>