<h1>List of Users</h1>

<ol>
    <% @users.each do |u| %>
        <li>
            <%= link_to u.name, user_path(u) %>
        </li>
    <% end %>
</ol>

<%= link_to "Create a New User", new_user_path %>
<%= link_to "Listings", listings_path %>
<%= link_to "Services", services_path %>