
<h1 class="category">Categories</h1>
<div class="category"> 
    <div class="grid-container">
        <% @categories.each do |c| %>
            <div class="grid-item">
                <%= link_to c.name, category_path(c) %>
            </div>
        <% end %>
        </div>

    </div>
    
</div>