

<h2><%= @category.name %></h2>

<div class="row">
  <div class="column">
    <h2>Listings</h2>
    <p>
    <% @listings.each do |l| %>
        <%# if l.categories[0].id == params[:id].to_i %>
            <p><%= link_to l.title, listing_path(l) %><p>
        <%# end %>
    <% end %>
    </p>
  </div>
  <div class="column"">
    <h2>Services</h2>
    <p>
    <% @services.each do |s| %>
        <%# if s.categories[0].id == params[:id].to_i %>
            <p><%= link_to s.title, service_path(s) %><p>
        <%# end %>
    <% end %>
    </p>
  </div>
</div>
