<h1> Detail Page </h1>

<<<<<<< HEAD
<%= link_to @review.service.description, service_path(@review.service) %>
=======
<h3> <%= link_to @review.service.description, service_path(@review.service) %>

>>>>>>> f8d30c756cb8c4004138ba85027e44b5d08c8816
<h3>Description: <%= @review.description %> </h3>
<h3>Rating: <%= @review.rating %> </h3>


