<h1> Detail Page </h1>

<%# @review.listing.each do |r| %>
    <%#= link_to r.title, review_path(r) %>
    <br>
<%# end %>

<h3>Description: <%= @review.description %> </h3>
<h3>Rating: <%= @review.rating %> </h3>